body {
  margin: 0;
  padding: 0;
}

#carousel {
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 2px solid #000000;
  overflow: hidden;
}

ul {
  width: 2000px;
  height: 300px;
  margin: 0;
  padding: 0;
}

ul li {
  width: 400px;
  height: 300px;
  float: left;
  list-style-type: none;
}
